.container{
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
    padding:13px;
    display: flex;
    flex:1;
    width: 500px;
    height: 200px;
}

.warning{
       
    flex:1;

}

img{
    border-radius: 129px;
    width: 51.8px;
    height: 41.8px;
}

.content{
    padding-left: 20px;
    display: flex;
    flex:9;
    flex-direction: column;
    gap:10px;
}
.question{
    justify-self: end;
    flex-grow: 0;
    font-weight: bold;
    font-size: 20px;
    height: 20px
}
.answer{
    flex-grow: 0;
    font-size: 20px;
}


.continue_cancel{
 
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.continue{
    background-color: rgb(105, 134, 208);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    width: 78px;
    box-shadow: 1rem  1rem 1rem 1rem;
}

.cancel{
    border: 1px solid black;
    border-radius:10px;
    padding: 7px;
    width: 78px;
    text-align: center;
}